.card1{
    background-image: url("/static/media/card1.fe3d69df.jpg");
  }
  .card2{
    background-image: url("/static/media/card2.e00d2de3.jpg");
  }
  .card3{
    background-image: url("/static/media/card3.cb722246.jpg");
  }
  .card4{
    background-image: url("/static/media/card4.4c84bc58.jpg");
  }
  .MuiButton-contained{
    background-color: white;
  }